* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 5rem;
    background-color: #004E36;
}

.logo {
    
    width: 17%;
    height: 87%;
    margin-left: 1rem;
    border-right: 2px solid white;
    float: left;
    
    
}

.logo img {
    width: 95%;
    margin-top: 0.3rem;
}

.links {
    
    width: 50%;
    float: left;
    height: 100%;
    margin-left: -1rem;
}

.links li {
    float: right;
    margin-top: 2rem;
    margin-right: 2rem;
    list-style: none;
    border-bottom: 1px solid white;
}

.links li a {
    text-decoration: none;
    color: white;
}

.input {
    
    width: 32%;
    float: right;
    height: 100%;
}

.input input {
    width: 60%;
    margin-top: 1.3rem;
    height: 2rem;
    border: none;
    margin-left: 2rem;
    border-radius: 3p;
}

.input a {
    text-decoration: none;
    color: white;
    margin-left: 3rem;
    border-bottom: 1px solid white;
    
}

.input a:hover {
    font-size: large;
}

.links li:hover {
    font-size: large;
}

.flex-container {
    display: flex;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse;
}

.flex-child {
    flex-direction: row-reverse;
    flex-direction: column;
    border: 1px solid gray;
    width: 300px;
    height: 200px;
    margin-top: 50px;
    overflow: scroll;  
    
    
    
}  


.flex-child:first-child {
    margin-right: 20px;
} 
.img-picture{
    width: 16px;
    height: 5px;
}
